/* General */

* {
    font-family: 'PKMN RBYGSC', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

button {
    padding: 0.7rem 1.4rem;
    border-radius: 0.15rem;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    background-color: steelblue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    border: none;
    position: relative;
}

button:hover {
    top: 0.2rem;
    cursor: pointer;
}

input {
    color: lightslategray;
    background-color: beige;
    border-radius: 0.15rem;
    border-color: grey;
    border-style: solid;
    padding: 0.7rem 1.4rem;
}

/* Intro */

#intro {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#intro > img {
    width: 25rem;
}

#intro > p {
    padding: 0.7rem 1.4rem;
    font-weight: 400;
    color: #ffffff;
    background-color: steelblue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

/* Size */

#size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 1rem;
}

/* Studio */

#studio-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    gap: 2rem;
}

#studio-tools > img {
    width: 3rem;
}

#tool-bucket,
#tool-dropper,
#tool-entity {
    filter: grayscale(100%);
}

/* Builder */

#builder {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

#tileset,
#layers {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: rgb(39, 58, 93);
    text-align: center;
}

#tileset-title,
#layers-title {
    background-color: cornflowerblue;
}

#tileset-content,
#layers-content {
    flex-grow: 1;
}

#layers-control {
    display: flex;
    border: 1rem solid cornflowerblue;
}

#layers-control > #layers-control-add > p,
#layers-control > #layers-control-remove > p {
    font-weight: 500;
}

#layers-control > #layers-control-remove > p {
    padding-top: 0.2rem;
}

#layers-control > #layers-control-add,
#layers-control > #layers-control-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
}

#layers-control > #layers-control-add {
    background-color: lightgreen;
}

#layers-control > #layers-control-remove {
    background-color: lightcoral;
}

/* Entity */

#entity {
    height: 16rem;
    width: 65rem;
    text-align: center;
    margin: 2rem auto;
    background-color: rgb(39, 58, 93);
}

#entity > p {
    padding-top: 1.5rem;
    background-color: cornflowerblue;
    height: 2.5rem;
}

#entity-builder {
    height: 100%;
}

/* Meta */

#meta {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

#meta-main,
#meta-music {
    display: flex;
    gap: 1rem;
}
